

/*reset css */
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table
   {
   	border-collapse: collapse;
   	border-spacing: 0;
   }
   a
   {text-decoration: none;}
   * {
    box-sizing: border-box;
  }
  /*end reset*/



  body {
  }

  header {
   max-width: 1170px;
 }
 .mother {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
}

.list ul{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.burgerimg{
  width: 30px;
  height: 30px;
  display: none;

}

.imgburger {
  width: 100%;
  height: 100%;
}
.list a {
  font-size: 24px;
  color: #3D58A6;
}
.list a:hover {
  font-size: 24px;
  color: #29ABE2;
}
.list li {
  width: 50px;
  font-size: 24px;
  color: #3D58A6;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-between;
  text-transform: uppercase;

}
.icons ul{
  display: flex;
  justify-content: flex-end ;
  width: 350px;

}

.icons li {
  border-right: 2px solid #363E97;
  margin-left: 30px;
  margin-right: 20px;
  width: 65px;
  font-size: 30px;
  color: #363E97;

}
.icons li:last-child {
  border-right: none;
  margin-right: 0;
}
.icons a:hover {
 cursor: pointer;
 height: 30px;

}
.icons li:first-child {
 margin-left: 0;
}
.icons img {
 height: 30px;

}

.headerimg {
  width: 200px;
}


/*header finish*/


.marginauto {
  margin:auto;
  max-width: 1170px;
  width: 95%;
}
/*100% section start*/
.asidiv {
  background-color: #E6E6E6;

}


.sectionh {
  background-color: #EE4036;
}
.sectionh p {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 20px 0;   
}

.map-size {
  width: 100%;
  padding: 20px 0;
}
/*maps start*/

/*maps end*/

.bluediv
{ background-color: #363E97;
  height: 620px;
  width: 100%;
}
.misamartebi {
  margin-left: 40px;
  padding-top: 40px;
  color: white;
  padding-right: 40px;
  float: left;
}
.misamartebi li {
  padding-bottom: 25px;
  font-size: 20px;

}

.forms
{
 float: right;
 margin-top: 25px;
 margin-right:160px;

}
.box {
  width: 600px;
  height: 60px;
  margin-bottom: 50px;
}
.forms h1{
 font-size: 20px;
 color: white;
 margin-bottom: 10px;
 margin-top: 15px;
 margin-left: 25px;

}
.forms input {
  width: 600px;
  height: 60px;
  margin-bottom: 15px;
}

.lastbox {
 width: 600px;
 height: 100px;
 margin-bottom: 50px;
}
.lastbox input {
  height: 100px;
}

.forms button {
  height: 50px;
  line-height: 50px;
  width: 120px;
  background-color: red;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}




/*blue ends*/

/*shares start*/

.sharesdiv {
  background-color: #E6E6E6;
}
.shares {
  max-width: 1170px;
  width: 95%;
  height: 100px;
  margin: auto;
}


.sharesimg{
  line-height: 120px;
  height: 22px;
  float: right;
}    

.sharesimg a {
 width: 70px;
 margin: auto;
}

/*footer start*/
footer {
  width: 100%;
  height: 60px;

}
.footerdiv
{
  margin: auto;
  max-width: 1170px;
  width: 95%;
  height: 60px;
  display: flex;
  flex-direction: column;
align-items: center;
}
.footerpp
{

  font-size: 12px;
  display: block;

}
.footerp
{ 
  font-size: 12px;
   display: block;

}

